<div class="login-container">
  <form [formGroup]="loginFormGroup" (ngSubmit)="onSubmit()">
    <p>L O G I N</p>
    <mat-form-field appearance="outline" style="width: 100%;">
      <mat-label>Enter your email</mat-label>
      <input matInput placeholder="email@example.com" formControlName="email">
      <mat-error *ngIf="loginFormGroup.controls.email.invalid">{{getErrorMessageEmail()}}</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline">
      <mat-label>Enter your password</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
      <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
    <br>
    <button type="submit" mat-raised-button color="primary" [disabled]="!loginFormGroup.valid">Login</button>
  </form>
</div>
